*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

header {
    background: url("../Recursos/imagenes/header/heroo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }

.navbar {
    background:#424244 ;
    height: 60px;
    display: flex;
    color:#ffda9e ;
    justify-content: space-between;
    align-items: center;
}
.contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 140px 0px;
  
}
.contenedor-texto .texto {
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
  }
  
  .contenedor-texto .texto h1,
  .contenedor-texto .texto h2 {
    color: white;
    font-weight: 500;
  }
  
  .contenedor-texto .texto h1 {
    font-size: 3rem;
    margin-bottom: 3px;
  }
  
  .contenedor-texto .texto h2 {
    font-size: 3.5rem;
    margin-bottom: 50px;
  }
  .contenedor-texto .texto p{
     font-size: 1.5rem;
     color: #fff;
  }
.nav_logo {
    font-weight: bold;
    font-size: 2rem;
    margin: 1.2rem;
}
  
.nav_logo img {
    width: 50px;
}
  
.nav_items a {
    margin: 1.2rem;
    color:#fff ;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.2s linear;
    
}
  
.nav_items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
  
}
  
.nav_items a:hover {
    background-color: #fff;
    color: #fdf9c4;
}
  
.nav_items a:hover::before {
    width: 100% !important;
}
  
.nav_toggle {
    display: none;
}
  
  @media screen and (max-width: 768px) {
  
.nav_items {
      position: absolute;
      top: 60px;
      left: 0;
      background-color:#b8e4ff ;
      display: flex;
      flex-direction: column;
      width: 100%;
      transform: translateX(-100%);
      transition: all 0.2s linear;
}
  
.nav_items a {
      text-align: center;
}
  
    .nav_toggle {
      display: flex;
      flex-direction: column;
      margin: 1.2rem;
      cursor: pointer;
    }
  
    .nav_toggle span {
      width: 25px;
      height: 3px;
      background-color: white;
      margin-bottom: 5px;
      border-radius: 2px;
      transform-origin: 4px 0;
      transition: all 0.2s linear;
    }
  
    .close span {
      transform: rotate(45deg) translate(0px, 0px);
    }
  
    .close span:nth-child(2) {
      display: none;
    }
  
    .close span:nth-child(3) {
      transform: rotate(-45deg) translate(-5px, 1px);
    }
  
    .open {
      transform: translateX(0) !important;
    }
  
}
.titulo-serv{
  margin-top: 0px;
  background-color:#f8efed ;
  margin-bottom: 0px;
}
.servicios {
    background-color:#f8efed ;
    padding: 20px 0;
    text-align: center;
}
  
  .servicios .titulo {
    font-size: 2rem;
    color: #d2bead;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;

  }
  
  .contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  /* estilos de la card */
  .card {
    width: 300px;
    background-color: white;
    margin: 1rem;
    box-shadow: 2px 2px 10px 1px rgba(97, 97, 97, 0.3);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card-image {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }
  
  .card-image img {
    height: inherit;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.4s linear;
    width: 100%;
  }
  
  .card-image img:hover {
    object-fit: cover;
    transform: scale(1.2);
  }
  
  .card-text {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .card-text h2 {
   font-weight: 400;
   margin-bottom: 15px;
   margin-top: 15px;
   color:#e1b1bc ;

  }
  
  .card-text p {
    line-height: 1.5rem;
    color: #6a6a6a;
  }
  
  .card-text a {
    color: #fabfb7;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    transition: all 400ms ease;
    border-radius: 4px;
    border: 1px solid #fdf9c4;
    margin-top: 10px;
  }
  
  .card-text a:hover {
    background: #fabfb7;
    color: #fff;
  }

  .card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0,0 , 0.4);
    transform: translateY(-3%);
  }

/* libros */
.titulo{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    color:#e1b1bc ;
}
.productos .cajaProductos{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.productos .cajaProductos .caja{
    flex: 1 1 10rem;
   /*  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1 ); */
     border-radius: .5rem; 
    /* border: .1rem solid rgba(0, 0, 0, .1 ); */ 
    position: relative;
} 
.productos .cajaProductos .caja .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;

}

.productos .cajaProductos .caja .image .img{
    height: 25rem;

}
.productos .cajaProductos .caja:hover .image img{
    transform: scale(1.1);
    
}

.productos .cajaProductos .caja .contenido h3{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.productos .cajaProductos .caja .contenido .precio{
    font-size: 1rem;
    color:#f9a59a ;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
}
.productos .cajaProductos .caja a{
    color: #fabfb7;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    display: inline-block; 
    transition: all 400ms ease;
    border-radius: 4px;
    border: 1px solid #fdf9c4;
    margin-top: 10px;
}
.productos .cajaProductos .caja a:hover{
background: #fabfb7;
color: #fff;
}
.productos .contenido {
    text-align: center;
}

/* galeria */

.galeria{
    /* background: linear-gradient(to right,#e5dde6 , #cfcecf); */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   background-color:#ECF0F1;
}

.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite; 
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
} 

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}
.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}
.tituloGal{
    text-align: center;
    font-size: 1.5rem;
    /* color:#ffbfb0 ; */
    padding: 1.5rem;
    margin: 1rem 0;
    background-color:#ECF0F1 ;
    margin-bottom: 0;
    
}
/* a cerca de */

.contenedor-acerca{
    margin-top: 0px;
    margin-bottom: 30px;
    background-image: radial-gradient(circle at 50% -20.71%, #badbff 0, #c2daff 6.25%, #c9d8ff 12.5%, #d0d6ff 18.75%, #d8d4ff 25%, #dfd2fe 31.25%, #e6d0fa 37.5%, #eccff6 43.75%, #f2cdf2 50%, #f7cced 56.25%, #fccbe8 62.5%, #ffcae2 68.75%, #ffc9dd 75%, #ffc9d7 81.25%, #ffc9d1 87.5%, #ffc9cc 93.75%, #ffcac6 100%);
}
.contenedor-acerca h2{
    text-align: center;
    margin-bottom: 10px;
    /* margin-top: 15px; */
}

.iconos-acerca{
    display: flex;
    justify-content: space-between;
}
.iconos{
    flex-basis: calc(33.3% - 1rem);
    text-align: center; 
    justify-content: center;
    
}
.iconos h3{
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tituloPagos{
    text-align: center;
    font-size: 1.5rem;
    color:#ffbfb0 ;
    padding: 0.5rem;
    margin: 1rem 0;
    background: rgba(255, 51, 153, .05);
    margin-bottom: 0;
}

.pagos {
    display: flex;
    justify-content: space-between;
}
.pagos .iconos{
    flex-basis: calc(25% - 2rem);
    text-align: center; 
    justify-content: center;
    
}

.contacto .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1rem;
    align-items: center;
}
.contacto .row form{
    flex: 1 1 40rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0,.1);
    border: .1rem solid rgba(0, 0, 0,.1);
    background: #fff;
    border-radius: .5rem;
}

.contacto .row .image{
    flex:1 1 30rem;
}

.contacto .row .image img{
    width: 100%;
}

.contacto .row form .box{
    padding:1rem;
    font-size: 1rem;
    color: #333;
    text-transform: none;
    border:.1rem solid rgba(0, 0, 0,.1);
    border-radius: .5rem;
    margin:.5rem 0;
    width: 100%;
}

.contacto .row form .box:focus{
    border-color: #ffda9e;
}

.contacto .row form textarea{
    height: 5rem;
    resize: none;
}

.contacto .row form .btn{
  margin: auto;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 15px 40px;
  cursor: pointer;

}
.pie-pagina {
  background-color: darkgrey;
}


.iconos-pie-pagina {
    display: flex;
    justify-content: space-between;
}

.pie-pagina h2{
    text-align: center;
    margin-bottom: 10px;
}
.pie-pagina p{
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
}

.redes-sociales{
    text-align: center;
    display: flex;
}  
  footer .redes-sociales a {
    width: 100px;
    display: block;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 30px;
    /* margin: 0 5px; */
   
  }
  
  footer .redes-sociales .twitter:hover {
    background: #1da1f2;
  }
  
  footer .redes-sociales .facebook:hover {
    background: #3b5998;
  }
  
  footer .redes-sociales .youtube:hover {
    background: #cd201f;
  }
  
  footer .redes-sociales .github:hover {
    background: #666666;
  }
  
  footer .redes-sociales .instagram:hover {
    background: #3f729b;
  }
 


#copyRight {
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 15px;
    margin-top: 70px;

}
